<div class="container" style="max-width: 1700px;">
  <h1 class="text-center mt-4 top">Blogs list</h1>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <div class="row new" style="margin-left: 77px;">
    <div class="col-md-3">
      <br><br>
      <div class="form-group">
      
        <%= form_tag articles_path, method: :get, class: 'form-group' do %>
          <h3>Category</h3><br>
          <%= link_to('View All Blogs', articles_path, class: "btn btn-light") %><br><br>
          <% @filters.each do |filter| %>
            <% if filter.filter_type == 'select' %>
              <%= label_tag filter.name %><br>
              <%= select_tag "q[#{filter.column_name}_eq]", options_for_select(filter_options(filter.column_name), params.dig(:q, "#{filter.column_name}_eq")), include_blank: true, style: 'width: 65%;', class: 'form-control' %><br>
              <% elsif filter.filter_type == 'date' %>
              <h3>Date Range</h3><br>
              <%= label_tag "From" %>&nbsp;
              <%= text_field_tag "q[#{filter.column_name}_gteq]", params.dig(:q, "#{filter.column_name}_gteq"), class: 'form-control', type: 'date' , style: 'width: 65%;'%><br>
              <%= label_tag "To" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= text_field_tag "q[#{filter.column_name}_lteq]", params.dig(:q, "#{filter.column_name}_lteq"), class: 'form-control', type: 'date', style: 'width: 65%;' %><br><br>
            <% end %>
          <% end %>
          <%= submit_tag "FILTER", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'article' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>
<br><br><br>